.bg-lt{
    background-color: #7886C7;
}
.bg-dk{
    background-color: #707AB7;
}

/*NAVIGATION*/
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #2D336B;
    padding: 20px;
    align-items: center;
}
.name{
    color: #FFF2F2;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.link{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-item{
    display: none;
}
.menu-png{
    width: 2.8rem;
}
.dropdown-menu {
    background-color: #7886C7 !important;
    border: 3px solid #2D336B !important;
}

.i{
    color: #A9B5DF;
}
.github-logo{
    width: 2rem;
}

/*Text & Picture*/
.first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 20px;
}
.left{
    text-align: center;
    padding: 50px;
    margin: 0px;

}
.right{
  display: flex;  
  justify-content: center;
  align-items: center;

}
.me{
    border-radius: 10%;
    border: 5px solid #A9B5DF;

    height: 20rem;

    display: flex;
    justify-items: center;
    align-items: center;
}

/*About Me*/
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

/*work-experience*/
.card-text{
    text-align: center;
}
.card-title{
    text-align: center;
    font-size: large;
    font-style:oblique;
    font-weight: bolder;
}

/*Footer*/



/*Mobile*/ 
@media (max-width: 700px){
    
    /*NAVIGATION*/
    .link{
        display: none;
    }
    .nav-item{
        display: flex;
    }

    /*Text & Picture*/
    .first{
        display: flex;
        flex-direction: column-reverse;
    }

    /*About Me*/
    #about-me > .container > .row > .col {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align:center;
    }
    .About-me-li{
        list-style: none;
    }
    /*Footer*/

}
