/*Color*/
.bg{
    background: linear-gradient(300deg, #445bf2, #707AB7, #7886C7);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/*NAVIGATION*/
.nav-top{
    display: flex;
    justify-content: space-between;
    background-color: #2D336B;
    padding: 20px;
    align-items: center;
}
.name{
    color: #FFF2F2;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.link{
    display: flex;
    gap: 20px;
    align-items: center;
}
a:link{
    text-decoration: none;
}
a:hover {
    color: blue;
}
.nav-item{
    display: none;
}
.menu-png{
    width: 2.8rem;
}
.dropdown-menu {
    background-color: #7886C7 !important;
    border: 3px solid #2D336B !important;
}

.i{
    color: #A9B5DF;
}
.github-logo{
    width: 2rem;
}

/*Home*/
.first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 20px;
}
.left{
    text-align: center;
    padding: 50px;
    margin: 0px;

}
.right{
  display: flex;  
  justify-content: center;
  align-items: center;

}
.me{
    border-radius: 10%;
    border: 5px solid #2D336B;

    height: 20rem;

    display: flex;
    justify-items: center;
    align-items: center;
}

/*About Me*/
#about-me > .container > .row .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
    margin-right: 10px;
    margin-bottom: 10px;
}


/*work-experience*/
.work-experience-text{
    font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}
#work-experience > *{
    text-align: center;
}
.card-title{
    text-align: center;
    font-size: large;
    font-style:oblique;
    font-weight: bolder;
}

/*Footer*/
.nav a:hover svg {
    fill: blue;
}
.nav-bt > a{
    color: #2D336B;
}

/*Mobile*/ 
@media (max-width: 700px){
    
    /*NAVIGATION*/
    .link{
        display: none;
    }
    .nav-item{
        display: flex;
    }

    /*Text & Picture*/
    .first{
        display: flex;
        flex-direction: column-reverse;
    }
    .home-h1{
        font-size: 1.5rem;
    }
    .left{
        font-size: 1rem;
        padding-left: 20px;
        padding-right: 20px;
    }
    .me{
        max-width: 14rem;
        height: auto;
    }

    /*About Me*/
    #about-me > .container > .row > .col {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align:center;
    }
    li{
        list-style: none;
    }
    #about-me > .container > .row .icon-square{
        margin-left: 10px;
        margin-top: 10px;
    }
}
