body{
    background-color: #7886C7;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: #2D336B;
    padding: 20px;
    align-items: center;

}
.name{
    color: #FFF2F2;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.link{
    display: flex;
    gap: 20px;
    align-items: center;
}
.i{
    color: #A9B5DF;
}
.github-logo{
    width: 2rem;
}
.first{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 20px;
}
.left{
    text-align: center;
    padding: 50px;
    margin: 0px;

}
.right{
  display: flex;  
  justify-content: center;
  align-items: center;
}
.me{
    border-radius: 10%;
    border: 5px solid #A9B5DF;

    height: 20rem;

    display: flex;
    justify-items: center;
    align-items: center;
}


.container{
    display: grid;
    height: 20vh;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #7886C7;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D336B;
    border-radius: 10%;  
}
.i > a >img{
    height: 200px;
}
.button{
    display: none;
}
@media (max-width: 700px){
    .first{
        display: flex;
        flex-direction: column;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .link{
        display: none;
    }
    .button{
        display: flex;
    }
}
