body{
    background: linear-gradient(300deg, #00bfff, #707AB7, #7886C7);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
      
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.i{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    background-color: #2D336B;
    height: 650px;
    width: 500px;
    border-radius: 5%;
}
.material-symbols-outlined{
    padding-top: 17px;
    float: left;
    padding-left: 30px;
    color: #7886C7;
}
.text{
    font-size: 70px;
    text-align: center; 
    color: #7886C7;

    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.h3{
    padding-left: 80px;
    color: #FFF2F2;

    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.link{
    text-decoration: none;
    color: #FFF2F2;
}

